[submodule "thirdparty/rtmidi"]
	path = thirdparty/rtmidi
	url = https://github.com/thestk/rtmidi
[submodule "thirdparty/gmod-module-base"]
	path = thirdparty/gmod-module-base
	url = https://github.com/Facepunch/gmod-module-base
